streamlit
pandas
numpy
pyLDAvis==3.4.1
networkx
matplotlib
wordcloud
squarify
gdown
transformers
torch==2.1.0
torchvision==0.16.0
torchaudio==2.1.0
gensim
scipy==1.10.1
gspread
oauth2client
pandas
google-auth
