streamlit==1.39.0
pandas==2.2.3
numpy==1.26.4
pyLDAvis==3.4.1
networkx==3.4.1
matplotlib==3.9.2
wordcloud==1.9.3
squarify==0.4.4
gdown==5.2.0
transformers==4.45.2
torch==2.6.0
torchvision==0.21.0
torchaudio==2.6.0
gensim
scipy==1.10.1
gspread
oauth2client
google-auth
